<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appCelularRegistrado.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87EC8D141C5F69FF00D564FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87EC8D281C5F6A0000D564FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87EC8D331C5F6A0000D564FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
